<%- include("../../views/partials/user/header") %>

<main class="main">
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h1 class="mb-4">Thank You for Your Order!</h1>
            <p class="mb-4">Your order has been placed successfully.</p>
            <p>We've sent you a confirmation email with the details of your order.</p>
            <a href="/" class="btn btn-success">
              <i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("../../views/partials/user/footer") %>